@font-face {
    font-family: 'Gotham Medium';
    src: url(./fonts/gotham-medium.otf);
}
@font-face {
    font-family: 'Gotham Bold';
    src: url(./fonts/gotham-bold.otf);
}
@font-face {
    font-family: 'Gotham Black';
    src: url(./fonts/gotham-black.otf);
}

p{
    font-family: 'Gotham Black', sans-serif;
    font-size: 25px;
}

body{
    background-color: #D54231;
}

#container{
    background-color: #E94836;
    width: 300px;

    padding: 30px;
    margin: auto;

    border-radius: 10px;

    justify-content: center;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.image{
    width: 3em;
    height: 3em;

    margin: 0;
    padding: 0;
}

.content{
    margin: auto;
}

.name{
    font-family: 'Gotham Medium';
    font-size: 16px;
    
    margin: 0 0 13px 10px;
    padding: 0;
}

.artist{
    font-family: 'Gotham Medium';
    font-size: 15px;

    padding: 0;
    margin: 0 10px;
}

.header{
    display: flex;
}

.title{
    width: 100%;
    height: 100%;

    display: grid;

    margin: 0;
    padding: 0;
}

.image-artist{
    width: 50px;
    height: 50px;

    padding: 0;
    margin: 0;
}

.image-footer{
    width: 100px;
    
    color: black;
}